@if(bannerMovie){
<div class="min-h-screen bg-black relative">
  <app-header></app-header>
  <div class="h-screen relative ">
    @if(bannerMovie && bannerMovie.videoKey){
    <div class="absolute top-0 left-0 w-full h-full">
      <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 pointer-events-auto"></div> <!-- Lớp mờ -->
      <iframe class="absolute top-0 left-0 w-full h-full" [src]="
            domSanitise.bypassSecurityTrustResourceUrl(
              'https://www.youtube.com/embed/' + bannerMovie.videoKey + '?autoplay=1&mute=1&showinfo=0&controls=0'
            )
          " frameborder="0" allow="autoplay"></iframe>
    </div>
    }@else{
    <img class="absolute top-0 left-0 w-full h-full object-cover" [src]="tmdbConfig.imagePath + bannerMovie.poster_path"
      alt="banner image" />
    }
    <div class="absolute bottom-10 left-8 text-white max-w-2xl">
      <h4 class="text-3xl font-bold">{{ bannerMovie.original_title }}</h4>
      <p class="text-lg">{{ bannerMovie.overview }}</p>
      <div class="flex gap-4">
        <button type="button" class="bg-white text-black font-bold px-4 py-2 rounded">Play</button>
        <button type="button" class="bg-gray-700 text-white font-bold px-4 py-2 rounded">More Info</button>
      </div>
    </div>
  </div>
  <div class="px-16 relative z-50 mt-20">
    <div class="grid grid-cols-2 gap-8">
      <app-movie-category [title]="'Popular'" [movieList]="popularMovies"></app-movie-category>
      <app-movie-category [title]="'Top Rated'" [movieList]="topRatedMovies"></app-movie-category>
      <app-movie-category [title]="'Upcoming'" [movieList]="upcommingMovies"></app-movie-category>
      <app-movie-category [title]="'Now Playing'" [movieList]="nowPlayingMovies"></app-movie-category>
    </div>
  </div>
</div>
}