<div class="container px-5 md:px-20 mt-14 mb-20">
  <p class="font-semibold text-2xl my-3 ml-3">{{ title }}</p>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper flex space-x-4">
      @for (movie of videoContents; track movie) {
      <div (mouseenter)="setHoverMovie(movie)" (mouseleave)="clearHoverMovie()"
        class="swiper-slide relative transition-transform duration-300 ease-in-out transform hover:scale-150 hover:z-50">
        <img [src]="movie.poster_path | image" alt="" class="rounded-lg cursor-pointer w-80 h-80 object-cover" />
        @if ((movie.title === selectedContent) || (movie.name === selectedContent)) {
        <app-movie [movie]="movie"></app-movie>
        }
      </div>
      }
    </div>
  </div>
</div>